body{
    text-align:center;
    background-color: #caebf2;
}

h1{
    background-color : #c764e8;
    padding : 10px;
}

img{
    border-radius:50%;
}

#charInfo{
   flex-direction:column;
   background-color : #9ae378;
}

#content{
    position:relative;
    text-align:center;
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
}

button{
    padding: 15px 15px;
    cursor: pointer;
}